<%- include('./includes/header') %>
<!-- Dashboard -->

<div class="container-fluid">
  <div class="container py-5">
    <div class="row" style="gap: 10px">
      <div class="col-md-12 my-10">
        <h1 class="display-1">Dashboard</h1>
      </div>

      <div class="col-md-12 my-5">
        <h3>Personnelles</h3>
        <table class="table table-md table-striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Email</th>
              <th>Post</th>
              <th>Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% results.forEach( (result) => { %>
            <tr>
              <td><%= result.fullname %></td>
              <td><%= result.email %></td>
              <td><%= result.post %></td>
              <td><%= result.address %></td>
              <td>
                <div class="btn-group delete">
                  <a href="/edit/<%= result.id %>" class="btn btn-sm btn-info"
                    ><i class="fa fa-edit"></i
                  ></a>
                  <a
                    href="/delete/<%= result.id %>"
                    class="btn btn-sm btn-danger"
                    ><i class="fa fa-trash"></i
                  ></a>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include('./includes/footer') %>
